.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1555e0;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17em;
  padding: 2em;
  border-radius: 0.5em;
  background-color: #ffffff;
}

.form-box h1 {
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1em;
}

.form-box input[name='email'],
.form-box input[name='password'] {
  border: none;
  background: none;
  text-align: center;
  color: #2c3e50;
  outline: none;
  width: 200px;
  padding: 1em 2em;
  margin: 0 0 1em 0;
  border: 1px solid #2980b9;
  border-radius: 20px;
  transition: 0.25s;
}

.form-box input[name='email']:focus,
.form-box input[name='password']:focus {
  width: 250px;
  border: 1px solid #27ae60;
}

.form-box button[type='submit'] {
  cursor: pointer;
  border: none;
  background: none;
  text-align: center;
  color: #2c3e50;
  outline: none;
  width: 120px;
  padding: 1em 2em;
  margin-bottom: 1em;
  border: 1px solid #27ae60;
  border-radius: 20px;
  transition: 0.5s;
}

.form-box button[type='submit']:hover {
  color: #ffffff;
  background-color: #27ae60;
}

.form-box p a {
  color: #2c3e50;
  border-bottom: 1px dashed #2980b9;
  padding-bottom: 0.1em;
}
